<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.zh-Hant" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.Toolkit.Win32.UI.Controls" version="4.0.2" targetFramework="net462" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
</packages>